body {
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    margin: 20px;
}

input, button {
    font-family: monospace;
    padding: 4px;
    margin-top: 2px;
}

#result {
    margin-top: 15px;
    white-space: pre-line;
}